[submodule "libraries/Adafruit-PN532"]
	path = libraries/Adafruit-PN532
	url = https://github.com/adafruit/Adafruit-PN532.git
[submodule "libraries/Adafruit_BusIO"]
	path = libraries/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO.git
